<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0"
		/>
		<link rel="dns-prefetch" href="https://clips-media-assets2.twitch.tv" />
		<link rel="dns-prefetch" href="https://static-cdn.jtvnw.net/" />
		<link rel="preconnect" href="https://clips-media-assets2.twitch.tv" />
		<link rel="preconnect" href="https://static-cdn.jtvnw.net/" />
		<link rel="stylesheet" href="index.css" />
	</head>
	<body>
		<div id="shoutout">
			<video id="clip" onended="checkQueue()"></video>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="index.js"></script>
	</body>
</html>
