DOMAIN="example.com"
PORT=3000
APP_URL="https://${DOMAIN}"
APP_PATH=""
EVENTSUB_PORT=8000
EVENTSUB_PATH="/eventsub"

OBS_ADDRESS= # obs websocket address
OBS_PASSWORD= # obs websocket password
OBS_SCREENSHOT= # path to where you want your obs screenshots saved

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CALLBACK_URI="${APP_URL}/twitch/callback"
EVENTSUB_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=

SL_CLIENT_ID=
SL_CLIENT_SECRET=
SL_CALLBACK_URI="${APP_URL}/streamlabs/callback"

DISCORD_CHANNEL_LIVE= # channel where to post live notifications
DISCORD_CHANNEL_CHAT= # channel for the 2-way twitch-discord chat
DISCORD_CHANNEL_SCREENSHOT= # channel for the obs screenshot
DISCORD_CHANNEL_CLIP= # channel for the twitch clips
