<!DOCTYPE html>
<!--
    created by twitch.tv/kuroshiropanda
-->
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154118791-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-154118791-3');
    </script>
    <meta name="description" content="twitch clips player">
    <meta name="keywords" content="twitch, clips, player, kuroshiropanda">
    <meta name="reply-to" content="kuroshiropanda@outlook.com">
    <meta name="twitter:creator" content="@kuroshiropanda_" />
    <meta property="twitter:creator" content="@kuroshiropanda_" />

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="https://static.twitchcdn.net/assets/favicon-32-d6025c14e900565d6177.png">
    <link rel="dns-prefetch" href="https://api.twitch.tv/">
    <link rel="dns-prefetch" href="https://static-cdn.jtvnw.net/">
    <link rel="preconnect" href="https://api.twitch.tv/">
    <link rel="preconnect" href="https://static-cdn.jtvnw.net/">
    <title>Twitch Clips Player created by kuroshiropanda</title>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
</head>
<body onkeyup="keyEvent(event)">
    <strong id="alert"></strong>
    <div id="volume">Volume: <b id="curVol"></b>%</div>
    <div id="title"></div>
    <div id="overlay" onwheel="volume(event)">
        <div id="previous" onclick="previous()"><i class="material-icons">skip_previous</i></div>
        <div id="play" onclick="playPause()"><i id="pp" class="material-icons"></i></div>
        <div id="next" onclick="next()"><i class="material-icons">skip_next</i></div>
        <div id="controls">
            Controls :<br/>
            Left: Previous<br/>
            Right: Next<br/>
            Space: Play/Pause<br/>
            Up: volume up<br/>
            Down: volume down<br/><br/>
            or hover over the video<br/>
            with your cursor
        </div>
    </div>
    <video id="clips" onended="next()"></video>

    <script src="index.js"></script>
</body>
</html>